@import url('https://fonts.googleapis.com/css?family=Mirza:400,700|Proza+Libre:400,500,700');

// --------------------- Variable Definition --------------------------- //

$primary:     #8b8b9f;
$highlight:   #73e298;
$white:       #FFFFFF;
$background:  #2b3133;
$font_color:  #2b3133;
$highlight_2: #27c9ff;
$highlight_3: #ff6161;
$highlight_4: #4f4dbb;
$quiz_card:   #acc0e9;

// --------------------- General Styles ------------------------------- //

* {
	box-sizing: border-box;
}

body{
	font-family: 'Proza Libre', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #F3F5F6;
}

a {
	text-decoration: none;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

// --------------------- Header Styles ------------------------------- //

.top-header {
	padding: 0.5em 0;
	background: $background;

	.logo {
		text-transform: uppercase;
		float: left;
		font-size: 1.15em;
		font-family: 'Mirza', cursive;
		font-weight: 700;
		color: $white;
		span {
			color: #73e298;
		}
	}

	.main-nav {
		float: right;
		font-size: 0.9em;
		padding-top: 1.1em;

		a {
			padding-left: 2.5em;
			text-decoration: none;
			color: $primary;
		}
	}
}

// --------------------- Resources Styles ------------------------------- //

.resources {
	padding: 2em 0;
	.resources-banner {
		width: 1220px;
		max-width: 90%;
		margin: 0 auto;
		text-align: center;
		color: $font_color;

		.topics {
			width: 100%;
			padding: 0;
			list-style: none;
			position: relative;

			.topic {
				position: relative;
				background: $white;
				width: 46%;
				float: left;
				margin-right: 2.5%;
				margin-top: 3em;
				padding: 2em;
				text-align: center;
				border: solid 1px #d3dee2;
				border-radius: 6px;
    		border-top: solid 5px #43d6a0;
    		cursor: pointer;
				transition: all 0.3s ease-in-out;
    		&:hover {
    			box-shadow: 0px 2px 40px 0 rgba(65,74,78,0.1);
    		}

    		.tag-line {
    			color: $background;
    			letter-spacing: 1px;
    			text-transform: uppercase;
    			font-size: 1.2rem;
    		}

    		.intro-text {
    			color: #6f7f86;
    			line-height: 1.5rem;
    		}

    		.btn-circle-1 {
    			font-family: 'Proza Libre', sans-serif;
    			text-transform: capitalize;
    			border: 3px solid $primary;
    			outline: none;
    			border-radius: 100%;
    			font-weight: 700;
    			font-size: 0.85em;
    			background: transparent;
    			color: $highlight_2;
    			margin-left: 3em;
    			padding: 1.3em;
    			position: absolute;
    			width: 85px;
    			left: 85%;
    			top: 81%;
    			margin: -40px 0 0 -40px;
					transition: all 0.3s ease-in-out;
    			&:hover {
    				transform: scale(1.02);
    			}
    		}

    		.btn {
    			font-family: 'Proza Libre', sans-serif;
    			text-transform: uppercase;
    			border: none;
    			outline: none;
    			padding: 1.3em 4em;
    			color: white;
    			border-radius: 0.3em;
    			letter-spacing: 1px;
    			margin: 0.8em 0;
    			font-weight: 700;
    			font-size: 0.85em;
					transition: all 0.3s ease-in-out;
    			&:hover {
    				transform: scale(1.03);
    			}
    		}
			}

			.topic-1 {
    		border-top: solid 5px $highlight_2;
    	}

    	.topic-2 {
    		border-top: solid 5px $highlight_3;
    	}

    	.topic-3 {
    		border-top: solid 5px $highlight_4;
    	}

    	.topic-4 {
    		border-top: solid 5px $highlight;
    	}

    	.btn-1 {
    		background: $highlight_2;
    	}

    	.btn-2 {
    		background: $highlight_3;
    	}

    	.btn-3 {
    		background: $highlight_4;
    	}

    	.btn-4 {
    		background: $highlight;
    	}
    	

		}
	}
}

// --------------------- Quiz Styles ------------------------------- //

.quiz {
    padding: 2em 0;
    .quiz-banner {
        width: 1220px;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
        color: $font_color;

        .quiz-card {
            display: inline-block;
            width: 650px;
            background: $white;
            height: 650px;
            position: relative;
            z-index: 5;
            color: $font_color;
            box-shadow: 3px 3px rgba(#E0E5F7, 0.5);

            .top-section {
                background: $quiz_card;
                height: 100px;
                border-radius: 5px 5px 0 0;
                .question {
                    display: block;
                    padding-top: 40px
                }
            }
            
            .question-index {
                position: absolute;
                top: 78px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 100%;
                padding: 2px 15px;
                background: $white;
                color: $primary;
                font-size: .5em;
                border: 2px solid $highlight_4;
                box-shadow: 3px 6px rgba(#acc0e9, 0.5);
            }

            .bottom-section {
                text-align: center;
                padding: 25px 50px;

                .choice {
                    padding: 10px;
                    border: 1px solid $primary;
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 3px 3px rgba($primary, 0.5);
                    }
                }

                .continue {
                    font-family: 'Proza Libre', sans-serif;
                    text-transform: uppercase;
                    border: none;
                    outline: none;
                    padding: 1em 2em;
                    color: white;
                    border-radius: 0.3em;
                    letter-spacing: 1px;
                    background: $highlight_2;
                    margin: 2em 0 1em 0;
                    font-weight: 700;
                    font-size: 0.8em;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.03);
                    }
                }

                .progress-bar {
                    margin-top: 10px;
                    a {
                        text-decoration: none;
                        margin: 0 8px;
                        display: inline-block;
                        font-size: 0.7em;
                        color: $white;
                        height: 30px;
                        width: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 100%;
                    }
                    .question-unanswered {
                        background: $highlight_3;
                    }
                    .question-answered {
                        background: $highlight_2;
                    }
                }

                .result {
                    padding-top: 10px;
                    .btn-yes {
                        font-family: 'Proza Libre', sans-serif;
                        text-transform: uppercase;
                        border: none;
                        outline: none;
                        padding: 1em 2em;
                        color: white;
                        border-radius: 0.3em;
                        letter-spacing: 1px;
                        background: $highlight_3;
                        margin: 0.8em 1em;
                        font-weight: 700;
                        font-size: 0.8em;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            transform: scale(1.03);
                        }

                    }
                    .btn-no {
                        font-family: 'Proza Libre', sans-serif;
                        text-transform: uppercase;
                        border: none;
                        outline: none;
                        padding: 1em 2em;
                        color: white;
                        border-radius: 0.3em;
                        letter-spacing: 1px;
                        background: $highlight;
                        margin: 0.8em 0 0 1em;
                        font-weight: 700;
                        font-size: 0.8em;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            transform: scale(1.03);
                        }

                    }
                }
            }
            .selected-answer {
                background: #8B4B5D;
            }
        }

    }
}

// --------------------- Results Styles ------------------------------- //

.result {
    padding: 2em 0;
    .result-banner {
        width: 1220px;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
        color: $font_color;

        .result-card {
            display: inline-block;
            width: 650px;
            background: $white;
            height: 650px;
            position: relative;
            z-index: 5;
            color: $font_color;
            box-shadow: 3px 3px rgba(#E0E5F7, 0.5);

            .top-section {
                background: $quiz_card;
                height: 100px;
                border-radius: 5px 5px 0 0;
                .question {
                    display: block;
                    padding-top: 40px
                }
            }
            .question-index {
                position: absolute;
                top: 78px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 100%;
                padding: 2px 15px;
                background: $white;
                color: $primary;
                font-size: .5em;
                border: 2px solid $highlight_4;
                box-shadow: 3px 6px rgba(#acc0e9, 0.5);
            }
            .bottom-section {
                text-align: center;
                padding: 25px 50px;

                .score {
                    color: $font_color;
                    font-size: 1.2em;
                }

                .reset {
                    font-family: 'Proza Libre', sans-serif;
                    text-transform: uppercase;
                    border: none;
                    outline: none;
                    padding: 1em 2em;
                    color: white;
                    border-radius: 0.3em;
                    letter-spacing: 1px;
                    background: $highlight_2;
                    margin: 2em 0 1em 0;
                    font-weight: 700;
                    font-size: 0.8em;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.03);
                    }
                }

                .choice {
                    padding: 10px;
                    border: 1px solid $primary;
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 3px 3px rgba($primary, 0.5);
                    }
                    span {
                        margin: 0;
                        padding: 0;
                        font-size: 0.5em;
                        float: left;
                    }
                }

                .answered-incorrect {
                    background: #EDCBC2;
                }
                .answered-correct {
                    background: #A1AFB0;
                }

                .progress-bar {
                    margin-top: 10px;
                    a {
                        text-decoration: none;
                        margin: 0 8px;
                        font-size: 0.7em;
                        display: inline-block;
                        color: $white;
                        height: 30px;
                        width: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 100%;
                    }
                    .question-unanswered {
                        background: $highlight_3;
                    }
                    .question-answered {
                        background: $highlight_2;
                    }
                }

            }

        }
    }
}


