<section class="resources">
	<div class="resources-banner">
		<h2>Front-End Developer Resources</h2>

		<div class="topics cf">
			<div class="topic topic-1">
				<img src="images/cursor1.svg">
				<button class="btn-circle-1">Take Quiz</button>
				<h4 class="tag-line">Referesh your HTML5 Skills.</h4>
				<p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur luctus vestibulum. Duis in tellus consequat a vitae quam sit amet ultricies sem.</p>
				<button class="btn btn-1">Start this path</button>
			</div>

			<div class="topic topic-2">
				<img src="images/cursor2.svg">
				<button class="btn-circle-1">Take Quiz</button>
				<h4 class="tag-line">Referesh your CSS3 Skills.</h4>
				<p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur luctus vestibulum. Duis in tellus consequat a vitae quam sit amet ultricies sem.</p>
				<button class="btn btn-2">Start this path</button>
			</div>

			<div class="topic topic-3">
				<img src="images/cursor3.svg">
				<button class="btn-circle-1">Take Quiz</button>
				<h4 class="tag-line">Referesh your jQuery Skills.</h4>
				<p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur luctus vestibulum. Duis in tellus consequat a vitae quamsit amet ultricies sem.</p>
				<button class="btn btn-3">Start this path</button>
			</div>

			<div class="topic topic-4">
				<img src="images/cursor4.svg">
				<button class="btn-circle-1">Take Quiz</button>
				<h4 class="tag-line">Referesh your Angular Skills.</h4>
				<p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur luctus vestibulum. Duis in tellus consequat a vitae quam sit amet ultricies sem.</p>
				<button class="btn btn-4">Start this path</button>
			</div>

		</div>
	</div>
</section>